In [61]:
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [60]:
list=(['java', 'python', 'R'])
print(list)

['java', 'python', 'R']

In [72]:
print(list(range(5)))
print(list(range(1, 10, 2)))

TypeError: 'list' object is not callable

In [75]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst[0], lst[2])

1 False

In [59]:
lst[2:4]

[False, 'list']

In [76]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [79]:
import math as m 
a= [m.pi, 30, 10 > 4, 'list', lambda x: x**3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [93]:
def add2(x, y):
    return x + y

a.insert(1, add2)
a[1](10, 20)

30

In [104]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [109]:
a.remove(30)

ValueError: list.remove(x): x not in list

In [107]:
a.pop()

'py'

In [110]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

In [114]:
my_list = [x for x in range(10)]

TypeError: 'list' object is not callable

In [112]:
[x for x in range(10) if x%2 ==1]

TypeError: 'list' object is not callable

In [115]:
['even' if i%2 ==0 else 'odd' for i in range(1, 11)]

TypeError: 'list' object is not callable

In [116]:
[[i for j in range(5)]] for i in range(3)

SyntaxError: invalid syntax (1753355478.py, line 1)

In [117]:
[[j for i in range(i, i+6)]] for i in range(3)

SyntaxError: invalid syntax (3964017656.py, line 1)

In [118]:
mart = {'라면':1200, '음료수':1500, '과자':800 }
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [121]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [119]:
data = {1: '일', 3.14: 2.17, (1, 2): '튜플', 'list': [1, 2, 3]}
data

{1: '일', 3.14: 2.17, (1, 2): '튜플', 'list': [1, 2, 3]}

In [124]:
data = {1: '일', 3.14: 2.17, [1, 2]: '튜플', 'list': [1, 2, 3]}

TypeError: unhashable type: 'list'

In [126]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3 )))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [127]:
f_price = dict(apple= 4000, banana= 300, orange= 2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [128]:
mart = {'라면':1200, '음료수':1500, '과자':800 }
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [130]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [132]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [133]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [135]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

In [136]:
tp1 = 1, 2, 3
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [137]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [138]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

In [139]:
basket = {'apple', 'orange','apple', 'pear' }
basket

{'apple', 'orange', 'pear'}

In [140]:
len(basket)

3

In [141]:
print('grape' in basket)
print('apple' in basket)

False
True

In [143]:
A= {1, 2, 3, 4}
B= {3, 4, 5, 6 ,7}
print(A.union(B))                    #합집합
print(A.intersection(B))             #교집합
print(A.difference(B))               #차집합
print(B.difference(A))               #차집합
print(A.symmetric_difference(B))     #여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [144]:
A= {1, 2, 3, 4}
B= {3, 4, 5, 6 ,7}
print(A | B)     #합집합
print(A & B)     #교집합
print(A - B)     #차집합
print(B - A)     #차집합
print(A ^ B)     #여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [145]:
basket = {'apple', 'orange','apple', 'pear' }
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [146]:
myset = {0}
print(myset)
myset.add([1, 2])

{0}

TypeError: unhashable type: 'list'

In [147]:
myset = {0}
myset.add((1, 2))
print(myset)

{0, (1, 2)}

In [149]:
myset.remove(0)
myset

{(1, 2)}

In [151]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [152]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [155]:
print (hash('py'), hash((1, 2)))

-8359302394213713339 -3550055125485641917

In [156]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [157]:
x, y = 10, 10
print(id(x), id(y))

140719316613848 140719316613848